@font-face {
    font-family: "svg-fonts";
    src: url('../fonts/svg-fonts.eot');
    src: url('../fonts/svg-fonts.eot?#iefix') format('eot'),
    url('../fonts/svg-fonts.woff2') format('woff2'),
    url('../fonts/svg-fonts.woff') format('woff'),
    url('../fonts/svg-fonts.ttf') format('truetype'),
    url('../fonts/svg-fonts.svg#svg-fonts') format('svg');
}

@mixin icon-styles {
    font-family: "svg-fonts";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == close {
    $char: "\E001";
}
    @if $filename == plus {
    $char: "\E002";
}

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
    @if $extend {
        @extend %icon;
    } @else {
        @include icon-styles;
    }
    content: icon-char($filename);
    @content;
}
}

.icon-close {
    @include icon(close);
}
.icon-plus {
    @include icon(plus);
}