@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');

body {
  background-color: $grey-50;
}

.hello {
  font-family: Roboto, sans-serif;

  code {
    background-color: $grey-300;
    color: $deep-purple-600;
    padding: 5px 15px;
  }

  .nav {
    width: 100%;
    align-items: center;
    background-color: $deep-purple-600;
    border-bottom: 2px solid $deep-purple-800;
    color: $grey-300;
    display: flex;
    font-family: Pacifico, sans-serif;
    height: 100px;
    justify-content: space-between;

    h1 {
      font-size: 2.5em;
      padding-bottom: 5px;
    }

    h2 {
      font-family: Josefin Sans, sans-serif;
      letter-spacing: 1px;
      padding-right: 15px;
    }

    .fa-github {
      color: $grey-50;
      padding-left: 15px;
      text-decoration: none;
    }
  }

  .container {
    padding: 2% 10%;
    line-height: 2;
  }
}

@media (max-width: 768px) {

  .hello {

    .nav {

      h1 {
        font-size: 1.5em;
      }

      a {
        font-size: 50px;
      }
    }

    .container {
      padding: 2%;
    }
  }
}
